<ion-content class="ion-padding">

  <!-- Filter Section -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Filter Candidates</ion-card-title>
    </ion-card-header>
    <ion-card-content>
     
        <p>Last Active</p>
        <select [(ngModel)]="filters.lastActive" (ionChange)="applyFilters()">
          <option value="7">Last 7 days</option>
          <option value="30">Last 30 days</option>
        </select>
      
     
        <p>Location</p>
        <input [(ngModel)]="filters.location" (ngModelChange)="applyFilters()">
    
     
        <p>Qualification</p>
        <input [(ngModel)]="filters.qualification" (ngModelChange)="applyFilters()">
      

      
        <p>English Requirement</p>
        <input [(ngModel)]="filters.english" (ngModelChange)="applyFilters()">
      
      
        <p>Candidate Skills</p>
        <input [(ngModel)]="filters.skills" (ngModelChange)="applyFilters()">
      

     
        <p>Experience (Min)</p>
        <select [(ngModel)]="filters.experience" (ionChange)="applyFilters()">
          <option value="0">Fresher</option>
          <option value="1">1+ Year</option>
          <option value="3">3+ Years</option>
        </select>
     

      <ion-button expand="block"  (click)="resetFilters()">Reset Filters</ion-button>
    </ion-card-content>
  </ion-card>

  <!-- Candidate Cards -->
  <ion-card *ngFor="let candidate of displayedCandidates">
    <ion-card-header>
      <ion-card-title>{{ candidate.name }}</ion-card-title>
      <ion-label><ion-icon name="person"></ion-icon> Age: {{ candidate.age }}</ion-label>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Gender:</strong> {{ candidate.gender }}</p>
      <p><strong>Education:</strong> {{ candidate.education }}</p>
      <p><strong>Experience:</strong> {{ candidate.experience }}</p>
      <p><strong>Skills:</strong> {{ candidate.skills }}</p>
      <p><strong>Address:</strong> {{ candidate.address }}</p>
      <p><strong>English:</strong> {{ candidate.english }}</p>
      <p><strong>Joined:</strong> {{ candidate.joined }} days ago</p>
      <ion-button expand="block" size="small" color="primary">Notify Candidate</ion-button>
      <ion-button expand="block" size="small" fill="clear">View</ion-button>
    </ion-card-content>
  </ion-card>

  <!-- Pagination -->
  <div class="pagination-buttons ion-text-center" *ngIf="totalPages > 1">
    <ion-button size="small" (click)="prevPage()" [disabled]="currentPage === 1">Previous</ion-button>
    <span>Page {{ currentPage }} of {{ totalPages }}</span>
    <ion-button size="small" (click)="nextPage()" [disabled]="currentPage === totalPages">Next</ion-button>
  </div>

</ion-content>
