.headeremp{
   background-color: aqua !important;
}
.btn{

  --background:#511168;
  color: white !important;
}
.sidebarBtn{
  display: flex;
  flex-direction: column;
  // align-items: center;
  
}
.cardbtnlower{
  text-align: center;
 
}

.menu-button {
   width: 200px;
  //  border:1px solid purple;
   margin:4px;
   padding: 10px;
   text-decoration: none;
  text-align: left;
  background-color: #f6f9ff;
  color: #511168;
  
  transition: background-color 0.3s, color 0.3s;
}

.menu-button:hover {
  background-color: #511168; // Light gray on hover
  color: #fff;
}

.active-link .menu-button {
  background-color: #511168 ; // Light blue when active
  color: #fff;
  font-weight: bold;
}
.sideButton{
 
  display: flex;
  text-align: left;
  // justify-content: flex-start!important;
   --padding-start: 16px; /* Optional spacing */
  --padding-end: 16px;
  
}
.plan-card {
  border-radius: 12px;
  // box-shadow: 0 2px 10px #fff;
  background-color: #fff;
  text-align: center;
  .plan-title {
    font-size: 1.2rem;
    font-weight: bold;
  }
  .plan-price {
    color: #9900cc;
    font-size: 1.5rem;
    margin: 10px 0;
  }
}


p{
   margin-bottom: 12px;
}