// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
ion-datetime::part(native) {
  --ion-color-primary: #8e24aa; /* purple for selected text */
}