:host {
  display: block;
  height: 100%;
}

.scrollable-form {
  display: block;
  max-height: 100%;
  overflow-y: auto;
}

form {
  margin-bottom: 170px;
}

/* ===================== COMMON STYLES ===================== */

.label{
  margin: 0px;
  padding:19px 10px 12px 0px;
  background-color: #e2e1e2;
  border-color: #e2e1e2;
}

ion-item {
  --inner-padding-end: 0px;
  --padding-start: 0px;
  --highlight-height: 0;
  border: none;
  background: transparent;
  // margin-bottom: 10px;
   margin: 0;
}

ion-label[position="stacked"] {
   font-size: 0.9rem;
  font-weight: 600;
  // margin-bottom: 4px;
  color: #222;
  margin: 0;
  padding-top: 10px;
  // padding-bottom: 10px;
  padding-left: 2px;
   background-color: #e2e1e2;
}

ion-input,
ion-select,
ion-textarea {
  --padding-start: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #fff;
  color: #000;
  font-size: 14px;
  // height: 44px;
  width: 100%;
  min-height: 30px;
}

ion-textarea {
  min-height: 100px;
  padding-top: 10px;
}

input::placeholder,
ion-input::part(native)::-webkit-input-placeholder {
  color: #999;
  font-size: 0.8rem;
}

ion-select {
  --placeholder-color: #999;
  --color: #000;
  border-radius: 8px;
}

ion-modal {
  --background: #fff;
  --box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.box {
  padding: 15px;
  background-color: #e2e1e2;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.submitbtn {
  --background: #511168;
  color: white !important;
  border-radius: 8px;
  margin-top: 15px;
  height: 44px;
  font-size: 15px;
  font-weight: 500;
  text-transform: none;
}

ion-text[color="danger"] small {
  font-size: 0.75rem;
  margin-top: 2px;
  display: block;
}

/* ===================== DARK MODE ===================== */
@media (prefers-color-scheme: dark) {
   
  .label{
  margin: 0px;
  padding:19px 10px 12px 0px;
  background-color: #0c0c0c;
  border-color: #050505;
}

    ion-item {
  --inner-padding-end: 0px;
  --padding-start: 0px;
  --highlight-height: 0;
  border: none;
  background: transparent;
  // margin-bottom: 10px;
   margin: 0;
   
}
  ion-label[position="stacked"] {
  font-size: 0.9rem;
  font-weight: 600;
  // margin-bottom: 4px;
   color: #dad7d7;
  margin: 0;
  padding-top: 10px;
  // padding-bottom:10px;
  padding-left: 2px;
   background-color: #111111;
}

  ion-input,
  ion-select,
  ion-textarea {
    --padding-start: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #2b2b2b;
    color: #fff;
  font-size: 14px;
  // height: 44px;
  width: 100%;
  min-height: 30px;
  }

  ion-select {
    --placeholder-color: #aaa;
    --color: #fff;
  }

  .box {
   padding: 15px;
   background-color: #2a2a2a;
  border-color: #444;
  border: 1px solid ;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  .submitbtn {
    --background: #833aa6;
    color: white !important;
  }

  ion-text[color="danger"] small {
    color: #ff7b7b;
  }

  small {
    color: #a0ffa0 !important;
  }

  ion-modal {
    --background: #1e1e1e;
  }

  .label {
    font-size: 0.85rem;
    color: #dad7d7;
    padding-bottom: 0px;
  }
}
