.sidebarBtn{
  display: flex;
  flex-direction: column;
  // align-items: center;
  
}
.sidebarBtn ion-button.active {
  --background: #511168;
  --color: white;
}
.menu-button {
  --background: transparent;
  --color: black;
  transition: background-color 0.3s, color 0.3s;
  text-align: left ;
  justify-content: flex-start!important;
   --padding-start: 16px; /* Optional spacing */
  --padding-end: 16px;
  
  
}

.menu-button:hover {
  --background: #511168; // Light gray on hover
  --color: #fff;
}

.active-link .menu-button {
  background-color: #511168 ; // Light blue when active
  --color: #fff;
  font-weight: bold;
}